body {
    font-family: sans-serif
} 

main {
    width: 100%;
    height: 100vh;
}

#sidebar {
    width: 250px;
    height: 100vh;
    max-width: 260px;
    min-width: 260px;
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    background-color: #98D7C2;
}


#sidebar > p {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-weight: 400;

}

#sidebar > p > a {
    color: black;
    text-decoration: none;
}
#sidebar > ul {
    margin: 5px auto;
    width: 80%;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
.nav-link{
    color: black;
}

.nav-link {
    margin-bottom: 5px;
}
.nav-link:hover {
    border-radius: 10px;
    background-color: #ECE2D0;
    font-weight: bolder;
    color: black;
}

.divider {
    width: 30px;
    height: 100vh;
    background-color: rgb(246, 243, 243);
}

#main-content{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

main > section {
    width: 100%;
    height: 100vh;
    background-color: #DDFFE7;
}