.accordion {
    margin-top: 30px;
    margin-bottom: 30px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    overflow: auto;
    display: block;
    width: fit-content;
    height: fit-content;
    max-height: 100%;
    max-width: 100%;
}


td, th {
  border: solid rgb(200, 200, 200) 1px;
  padding: .5rem;
}

th {
  text-align: left;
  width: fit-content;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: rgb(50, 50, 100) solid 2px;
  border-top: none;
}

th, td {
  white-space: nowrap;
}

td {
  padding: 10px;
  border-bottom: none;
  color: rgb(20, 20, 20); 
}

td:first-of-type, th:first-of-type {
  border-left: none;
}

td:last-of-type, th:last-of-type {
  border-right: none;
}