{% extends 'index.html' %}
{% load static %}
{% block title %} Authors {% endblock %}
{% block style %}<link href="{% static 'css/authors.css' %}" rel="stylesheet" />{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="filter-box">
    <form action="{% url 'find_author' %}" method="POST">
      {% csrf_token %}
      <div class="row mb-3">
        <label for="author_id" class="col-sm-1 col-form-label">Author ID</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="authorId" id="authorId" />
        </div>
        <div class="col-sm-4">
          <input type="submit" id="button" value="Find"  class="btn btn-dark"  style="width: 200px;">
        </div>
      </div>
    </form>
  </div>
  <table class="table table-fixed table-borderless bg-light table-hover table-striped">
    <thead class="table-dark">
      <tr>
        <th>Scholar Id</th>
        <th>Author</th>
        <th>Email</th>
        <th>Affiliation</th>
        <th>Department</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for author in all_authors %}
      <tr>
          <td>{{ author.author_id }}</td>
          <td>{{ author.author_name }}</td>
          <td>{{ author.email }}</td>
          <td>{{ author.affiliation }}</td>
          <td>{{ author.department }}</td>
          <td>{{ author.phone }}</td>
          <td><a href="{% url 'edit_author' author.author_id %}" class="btn btn-primary"><i class="bi bi-pen-fill"> Edit</i></a> |
             <a href="{% url 'remove_author' author.author_id %}" onclick="return confirm('Are you sure you want to delete this item?');"
              class="btn btn-danger"><i class="bi bi-eraser-fill"> Remove</i></a>
          </td>
      </tr>
    {%endfor%}
    </tbody>
    </table>
</div>
{% endblock %}