{% load static %}
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home Page {% endblock %}</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!-- Custom CSS -->
        <link href="{% static 'css/index.css' %}" rel="stylesheet" />
        {% block style %} {% endblock %}
    </head>
    <body>
        <main class="bg-light">
            <nav class="navbar navbar-expand-lg navbar-light bg-light box">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <span class="text-primary">Research</span><span class="text-dark"> Repository</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-file-person-fill"> Author</i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'new_authors' %}"><i class="bi bi-person-plus-fill"> New Author</i></a></li>
                                    <li><a class="dropdown-item" href="{% url 'authors' %}"><i class="bi bi-person-lines-fill"> Author List</i></a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-journals"> Article</i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'papers' %}"><i class="bi bi-book-fill"> Papers</i></a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-body-text"> Scanner</i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'scan' %}"><i class="bi bi-download"> Scan</i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section>
                {% block content %}
                <div class="container-fluid ps-3 pe-3">
                    <h5 class="display-5 mt-3">Summary Dashboard</h5>
                    <div class="row my-4">
                        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <div class="card bg-primary text-white box">
                                <h5 class="card-header">Authors Count</h5>
                                <div class="card-body">
                                    <h5 class="card-title text-center fs-1">{{ authors }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                            <div class="card bg-success text-white box">
                                <h5 class="card-header">Papers Count</h5>
                                <div class="card-body">
                                    <h5 class="card-title text-center fs-1">{{ papers }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                            <div class="card bg-warning text-white box">
                                <h5 class="card-header">Highest Citation</h5>
                                <div class="card-body">
                                    <h5 class="card-title text-center fs-1">{{ max_cit }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                <div class="container-fluid">
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <canvas id="myChartline" class="box"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="myChartBar" class="box"></canvas>
                            </div>
                        </div>
                </div>
                {% endblock %}
            </section>
        </main>
        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>