{% extends 'index.html' %}
{% load static %}
{% block title %} Papers {% endblock %}
{% block style %}<link href="{% static 'css/papers.css' %}" rel="stylesheet" />{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h5>Filter Options</h5>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form action="{% url 'papers' %}" method="POST" class="row g-3">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <label for="author" class="form-label">Scholar Id</label>
                        <input type="text" class="form-control" name="author" id="author">
                    </div>
                    <div class="col-md-6">
                        <label for="pub_year" class="form-label">Year</label>
                        <input type="year" class="form-control" name="pub_year" id="pub_year">
                    </div>
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div id="table-responsive" class="fixTableHead" style="height: 700px;">
        <table class="table table-borderless table-light table-hover table-striped">
            <thead class="table-dark" style="position: sticky;top: 0">
                <tr>
                    <th>Sr No.</th>
                    <th>Title</th>
                    <th>Journal</th>
                    <th>Publication Year</th>
                    <th>Citation Count</th>
                    <th>Author</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
            {% for paper in all_papers %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ paper.title }}</td>
                <td>{{ paper.journal_name }}</td>
                <td>{{ paper.pub_year }}</td>
                <td>{{ paper.number_of_citation }}</td>
                <td>{{ paper.author }}</td>
                <!-- <td><a href="#" class="btn btn-danger"><i class="bi bi-eraser-fill"> Remove</i></a> -->
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}