{% extends 'index.html' %}
{% load static %}
{% block title %} Papers {% endblock %}
{% block style %}<link href="{% static 'css/papers.css' %}" rel="stylesheet" />{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h5>Filter Options</h5>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
            </div>
        </div>
    </div>
    <div id="table-responsive" >
        <table class="table table-borderless bg-light table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Journal</th>
                    <th>Publication Year</th>
                    <th>Citation Count</th>
                    <th>Author</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for paper in all_papers %}
            <tr>
                <td>{{ paper.title }}</td>
                <td>{{ paper.journal_name }}</td>
                <td>{{ paper.pub_year }}</td>
                <td>{{ paper.number_of_citation }}</td>
                <td>{{ paper.author }}</td>
                <td><a href="#" class="btn btn-danger"><i class="bi bi-eraser-fill"> Remove</i></a>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}